<div class="d-flex">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>

  <!-- Main -->
  <div class="container">
    <div class="row p-3">
      <div class="col">
        <h5>Buscar:</h5>
        <input type="text" class="form-control" placeholder="Buscar gifs" />
      </div>
    </div>
    <hr />
    <div class="row p-3">
      <div class="col">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam
          magni, voluptatem porro nam quos minima molestiae ex laborum
          voluptates fugiat tenetur voluptatum vel facere tempore odio sit
          aliquam illum officia.
        </p>
      </div>
    </div>
  </div>
</div>
